{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jade's Fiberworks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial- scale=1" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  </head>
  <body class="bg-pale-dogwood">
    <div class="container-fluid bg-eggplant">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <img class="img-thumbnail" width="300" height="auto" src="{% static 'images/knit.jpg' %}" />
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#1a1423" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 0 3 12h10a.5.5 0 0 0 0-1H3a.5.5 0 0 0-.5.5zm0-4A.5.5 0 0 0 3 8h10a.5.5 0 0 0 0-1H3a.5.5 0 0 0-.5.5zm0-4A.5.5 0 0 0 3 4h10a.5.5 0 0 0 0-1H3a.5.5 0 0 0-.5.5z" />
            </svg>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav justify-content-end ms-auto">
              <li class="nav-item">
                <a class="nav-link bg-eggplant active" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li>
                <a class="nav-link bg-eggplant" href="{% url 'login' %}"></a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link bg-eggplant" href="{% url 'logout' %}">Log out</a>
                </li>
              {% else %}
                {% comment %} <li class="nav-item">
                  <a class="nav-link bg-eggplant" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link bg-eggplant" href="{% url 'register' %}">Register</a>
                </li> {% endcomment %}
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <!-- add block content from html template -->
    </div>
    {% block content %}

    {% endblock %}
  </body>
</html>
