{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jade's Fiberworks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial- scale=1" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    {% comment %} we started this project with one version of boosttrap but found we needed another as well {% endcomment %}
  </head>
  <body>
    <div class="container-fluid">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-sm bg-body-tertiary">
        <div class="container-fluid">
          <img class="img-thumbnail" width="90" height="74" src="{% static 'images/knit.jpg' %}" />

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav nav justify-content-end ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">Customer view</a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log out</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
              {% endif %}
              <li>
                  <button class="btn btn-dark" id="darkModeToggle" onclick="toggleDarkMode()">Toggle Dark Mode</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- add block content from html template -->
    </div>
    {% block content %}

    {% endblock %}
    <script>
      // Check if dark mode is enabled in local storage
      const isDarkMode = localStorage.getItem('darkMode') === 'true';
    
      // Set the initial theme
      if (isDarkMode) {
        document.documentElement.dataset.bsTheme = 'dark';
      }
    
      // Toggle dark mode function
      const toggleDarkMode = () => {
        const htmlElement = document.documentElement;
        if (htmlElement.dataset.bsTheme === 'light') {
          htmlElement.dataset.bsTheme = 'dark';
          localStorage.setItem('darkMode', 'true');
        } else {
          htmlElement.dataset.bsTheme = 'light';
          localStorage.setItem('darkMode', 'false');
        }
      };
    </script>
  </body>
</html>
