{% extends 'fiberworks_app/base_template.html' %}

<!-- Replace block content in base_template.html -->
{% block content %}
  <div class="container rounded  bg-dark text-bg-dark">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias sint sequi consequuntur, culpa cupiditate non.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ducimus illo aliquam est provident facere maiores sequi? Aperiam, exercitationem adipisci perspiciatis consectetur ex recusandae! Impedit accusamus voluptatem ab, odit perspiciatis doloremque voluptate! Distinctio aliquam voluptatum consequuntur cumque amet, at dolore nesciunt adipisci obcaecati minima reiciendis earum placeat, labore, asperiores mollitia.</p>  
</div>
<div class="container rounded bg-primary text-bg-primary">
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae in maiores rerum aliquid atque libero!</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente rerum reiciendis similique voluptates dolorum suscipit nihil nobis beatae aperiam unde a numquam consequuntur harum quaerat sint repellendus error corporis delectus aut labore at consectetur, dolores molestiae magni. Molestiae, sit. Deserunt omnis ea quis temporibus maiores, et perspiciatis asperiores fugit, molestiae labore, totam nam officiis vitae nisi esse delectus magnam rem repellat similique voluptatibus dolorum. Repellendus provident illo iste facere tempore, numquam sed nisi architecto. Vel quae perspiciatis illum voluptatem, ratione obcaecati asperiores sed reprehenderit commodi porro iure. Distinctio, in deleniti possimus nemo provident, ad officiis quo beatae minima, tenetur quod!</p>
</div>
<div class="container rounded bg-success  text-bg-success">
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae in maiores rerum aliquid atque libero!</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente rerum reiciendis similique voluptates dolorum suscipit nihil nobis beatae aperiam unde a numquam consequuntur harum quaerat sint repellendus error corporis delectus aut labore at consectetur, dolores molestiae magni. Molestiae, sit. Deserunt omnis ea quis temporibus maiores, et perspiciatis asperiores fugit, molestiae labore, totam nam officiis vitae nisi esse delectus magnam rem repellat similique voluptatibus dolorum. Repellendus provident illo iste facere tempore, numquam sed nisi architecto. Vel quae perspiciatis illum voluptatem, ratione obcaecati asperiores sed reprehenderit commodi porro iure. Distinctio, in deleniti possimus nemo provident, ad officiis quo beatae minima, tenetur quod!</p>
</div>
{% endblock %}
