{% extends 'fiberworks_app/base_template.html' %}

<!-- Replace block content in base_template.html -->
{% block content %}
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-2 p-3 g-2">
      {% for i in products_in_stock %}
        <div class="col  bg-light  text-bg-light p-3">
          <img class="card-img-top py-1 rounded-top" src="https://images.unsplash.com/photo-1584992236310-6edddc08acff?auto=format&fit=crop&q=60&w=700&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8eWFybnxlbnwwfHwwfHx8MA%3D%3D" alt="Card image" style="width: 100%" />
          <ul>
            <li class="list-group-item mb-2">{{ i.name }}</li>
            <li class="list-group-item mb-2">${{ i.price }}</li>
            <li class="list-group-item mb-2">Description: {{ i.description }}</li>
          </ul>
        </div>
      {% empty %}
        <p>There are no products.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
