{% extends 'fiberworks_app/base_template.html' %}

<!-- Replace block content in base_template.html -->
{% block content %}
{% if request.user.is_authenticated %}
<a class="btn bg-redwood text-dark m-2" href="{% url 'create_home_screen' %}">Create Home Screen Paragraphs</a>
{% endif %}
  {% for info in homescreen %}
    <div class="container rounded text-light mb-2 mt-2r bg-raisin-black">
      <h2>{{ info.title }}</h2>
      <p>{{ info.paragraph |linebreaks}}</p>
      {% if request.user.is_authenticated %}
      <a class="btn btn-light m-2" href="{% url 'update_home_screen' info.pk %}">Edit</a>
      <a class="btn btn-danger m-2" href="{% url 'delete_home_screen' info.pk %}">Delete</a>
      {% endif %}
    </div>
    {% empty %}
    <p>More Info Soon To Come</p>
  {% endfor %}

  <div class="container">
    <div class="row">
      {% for product in home_page_products %}
        <div class="col">
          <img class="rounded w-70 my-auto"
            src="{% if product.image %}
              {{ product.image.url }}
            {% endif %}"
            alt="Card image"
            style="max-width: 100%;" />
            {% if request.user.is_authenticated %}
            <a class="btn bg-redwood text-dark m-2" href="{% url 'update_product' product.pk %}">Remove from homescreen</a>
            {% endif %}
        </div>
        {% empty %}
        <p>More to come</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
