{% comment %} {% extends 'fiberworks_app/base_template.html' %} {% endcomment %}

<!-- Replace block content in base_template.html -->
{% block content %}

  <div class="container-fluid">
    {% if request.user.is_authenticated %}
      <a class="btn bg-redwood text-dark m-2" href="{% url 'create_product' %}">Create New Product</a>
    {% endif %}
    {% for product in products %}
        <div class="row">
          <div class="col {% if forloop.counter|divisibleby:2 %}order-2{% else %}order-1{% endif %}">
            {% if product.image %}
            <img class="card-img-top py-1 rounded-top" src="{{ product.image.url }}" alt="Card image" style="max-width: 100%; max-height: 60vh; object-fit: cover;
            object-position: center 25%;" />
            {% else %}
              <img class="card-img-top py-1 rounded-top" src="{{ product.image.url }}" alt="Card image" style="max-width: 100%; max-height: 60vh;" />
            {% endif %}
          </div>
          <div class="col bg-raisin-black {% if forloop.counter|divisibleby:2 %}order-1{% else %}order-2{% endif %}">
            {% if request.user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'update_product' product.pk %}">Update</a>
            <a class="btn btn-danger" href="{% url 'generic_delete' 'product' product.pk %}">Delete</a>
            {% endif %}
            <a href="{% url 'index' %}" class="btn bg-pale-dogwood disabled m-1">${{product.price}}</a>
            <a href="{{ product.get_absolute_url }}" class="m-1 btn bg-pale-dogwood">{{product.name}}</a>
            <p class=>{{product.description}}<p/>
              {% if not product.in_stock %}
                  <h1 class="text-danger">Out of Stock</h1>
              {% endif %}
          </div>
        </div>
    {% empty %}
      <p>There are no products.</p>
    {% endfor %}
  </div>
{% endblock %}
