{% extends 'fiberworks_app/base_template.html' %}

<!-- Replace block content in base_template.html -->
{% block content %}
  <div class="container-fluid">
    <div class="row row-cols-2 row-cols-md-6 row-cols-lg-10 g-3">
      {% for product in products %}
        <div class="col bg-light text-bg-light p-2"> <!-- Adjust padding and spacing -->
          <div class="card" >
            <img class="card-img-top img-fluid rounded thumbnail w-80 mx-auto"  src="{% if product.image %}{{ product.image.url }}{% else %}https://images.unsplash.com/photo-1544967919-44c1ef2f9e7a?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8a25pdHxlbnwwfHwwfHx8MA%3D%3D{% endif %}" alt="Card image" style="max-width: 100%;">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">${{ product.price }}</p>
              <a href="{% url 'index' %}" class="btn btn-info">Add To Cart</a>
              <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
      {% empty %}
        <p>There are no products.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
